:root {
    --user-ship-color : blue;
    --grid-border-color : black;
    --computer-ship-color : green;
    --damaged-color : red;
    --missed-color : orange;
}

.content {
    display: flex;
    gap: 20px;
}

.user-board, .computer-board {
    display : grid;

    height: 400px;
    width: 400px;

    grid-template-columns: repeat(7, 1fr);
}

.user-board-square, .computer-board-square {
    border: 1px solid;
    border-color: var(--grid-border-color)
}


.user-board > .ship {
    background-color: var(--user-ship-color);
}

.damaged-ship {
    background-color: red;
}

.missed {
    background-color: var(--missed-color);

}

